.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container__header {
    color: rgb(41, 87, 87);
  }

  .container__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container__button {
      max-width: 150px;
      width: 100%;
    }
  }
}
